.loon_toggle_left {
    content: ' ';
    top: 0px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 14px;
    border-color: transparent;
    opacity: 0.5;
    z-index: 99;
    position: sticky;
    margin-left: -21px;

    float: right;
    border-right-width: 7px;
    border-right-color: #AAAAAA;
}
.loon_toggle_left:hover {
    opacity: 1;
}

.loon_toggle_right {
    content: ' ';
    top: 0px;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 14px;
    border-color: transparent;
    opacity: 0.5;
    z-index: 99;
    position: sticky;
    margin-right: -21px;

    float: left;
    border-left-width: 7px;
    border-left-color: #AAAAAA;
}

.loon_toggle_right:hover {
    opacity: 1;
}
